* {
    margin: 0;
    padding: 0;
    border: 0;
}


.HeaderMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #383E4C;
    align-items: center;
    height: 180px;
}

.Nav {
    width: 90vw;
    display: flex;
    justify-content: space-around;
   
    padding: 50px;
    margin: 10px;
}

a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

.Hero {
    width: 100%;
    height: 55.6vh;
    background-image: url(layout-01-assets/img11.jpg);
    background-size: 100vw 70vh;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;

}

.HeroContent {
    /* width: fit-content; */
    padding: 45vw;
    border-radius: 0.4em;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    
}

.forest {
    background-image: url(layout-01-assets/img1.jpg);
    display: -webkit-box;
    
    
}